@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --light-blue: #7aa7e9;
    --dark-blue: #1d5b99;
    --color-text: #083e74;
    --gradient: linear-gradient(to right top, #2b65bb, #3c71c4, #4b7dcd, #598ad5, #6796de, #769ae1, #849de4, #91a1e7, #a19ce3, #b197dd, #bf91d5, #cb8ccb);
}

body {
    background: var(--light-blue);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ------------------------------ Section Menu -------------------------------*/

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid #1d5b99;
    box-shadow: 0 0.1rem 0.5rem #444343;
}

.logo {
    max-width: 12rem;
}

.menu {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu__list {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__list__item a {
    display: block;
    font-size: 1.1rem;
    color: var(--dark-blue);
    font-weight: 500;
    transition: all 0.5s;
}

.menu__list__item a:hover {
    color: white;
}

/* Menu hambúrguer oculto no desktop */
.menu__toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.menu__toggle span {
    width: 30px;
    height: 3px;
    background-color: var(--dark-blue);
    margin: 5px 0;
    transition: 0.4s;
}

/* ------------------------------ Section Banner ------------------------------*/

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 60%;
    margin-bottom: 10rem;
}

.banner__container {
    flex: 1;
}

.banner__title {
    font-size: 2rem;
    color: var(--dark-blue);
    margin-bottom: 1rem;
    text-align: center;
}

.banner__subtitle {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--color-text);
    text-align: center;
    padding: 1rem;
}

.banner__image {
    width: 18rem;
    height: auto;
    border-radius: 50%;
}

.banner__list {
    display: flex;
    gap: 1rem;
}

.banner__list__link {
    background: var(--gradient);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.7rem;
}

.banner__list__link a {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: var(--dark-blue);
    border-radius: 0.7rem;
}

.banner__list__link a:hover {
    background-color: var(--dark-blue);
    color: white;
}

/* ------------------------------ Section About me ----------------------------------*/

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--gradient);
    margin: 2rem auto;
    width: 70%;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0.7rem;
}

.about__title {
    text-align: center;
    font-size: 2rem;
}

.about__title a {
    text-decoration: none;
    color: var(--dark-blue);
}

.about__title a:active {
    color: white;
}

.about__text {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: var(--color-text);
    line-height: 2;
    text-align: center;
    max-width: 90%;
}

/*------------------------------ Section Skills ------------------------------*/

.skills {
    text-align: center;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 70%;
}

.skills__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.skills__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    transition: transform 0.3s;
}

.skills__item:hover {
    transform: scale(1.1);
}

.skills__icon {
    width: 3rem;
}

.skills__item__text {
    font-size: 1rem;
    color: var(--dark-blue);
}

/*------------------------------ Section de Hobbies --------------------------------*/

.hobbies {
    text-align: center;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 70%;
}

.hobbies__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.hobbies__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.hobbies__item:hover {
    transform: scale(1.1);
}

.hobbies__icon {
    width: 3rem;
}

.hobbies__item__text {
    font-size: 1rem;
    color: var(--dark-blue);
}

/*------------------------------ Section Degree --------------------------------*/

.degree {
    text-align: center;
    margin: 2rem auto;
    max-width: 80%;
}


.degree__list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    gap: 0.5rem;
}

.degree__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0, 7rem;
    padding: 1rem;
    background: var(--gradient);
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0.7rem;
}

.degree__item:hover {
    transform: scale(1.1);
}

.degree__item__image {
    width: 8rem;
    height: 5rem;
}

.degree__item__text {
    font-size: 1rem;
    color: var(--color-text);
    text-align: center;
}

/*------------------------------ Section Projects --------------------------------*/

.projects {
    display: flex;
    flex-direction: column;
}

.projects__image {
    width: 50vw;
    padding: 2rem;
    margin-top: 3rem;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0.7rem;
    background: var(--gradient);
    transition: transform 0.3s ease-in-out;
}

.projects__image:hover {
    transform: scale(1.1);
}

.projects__container__content {
    margin-top: 10rem;
    padding: 2rem;
}

.projects__content__title {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1.5px solid transparent;
    border-image: linear-gradient(270deg,
            #ec36af 69.27%,
            rgba(111, 137, 255, 0.9) 100%);
    border-image-slice: 1;
    width: 70%;
    color: var(--dark-blue);
}

.projects__content__text {
    text-align: justify;
    line-height: 150%;
    padding: 0.5em 1em 0.5em 0;
    color: var(--color-text);
}

.projects__content__link {
    display: inline-block;
    font-size: 0.75rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 7rem;
    margin: 0.5rem 0.5rem 1.5rem 0;
    padding: 0.75rem;
    color: var(--dark-blue);
    background: var(--gradient);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.7rem;
}

.projects__content__link:hover {
    transform: scale(1.1);
    background: var(--dark-blue);
    color: white;
}

.projects__container {
    display: flex;
    padding: 0.5rem;
}

/*------------------------------ Section Contact ---------------------------------*/

.contact {
    display: flex;
    justify-content: space-around;
    margin: 4rem 2rem;
    border-top: 1.5px solid transparent;
    border-image: linear-gradient(270deg,
            #ec36af 69.27%,
            rgba(111, 137, 255, 0.9) 100%);
    border-image-slice: 1;
}

.contact__content__list {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.contact__content__image {
    width: 40vw;
    padding: 1rem;
}

.contact__content__logo {
    width: 2rem;
}

.contact__form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0.7rem;
    background: var(--gradient);
}

.contact__form__title {
    font-weight: 600;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-blue);
}

.contact__form__item {
    width: 90%;
}

.contact__form__link {
    background-color: transparent;
    text-decoration: none;
    text-align: justify;
    resize: none;
    border: none;
    border-bottom: 1.5px solid #ec36af;
    width: 90%;
    padding-top: 2rem;
}

.contact__form__link::placeholder {
    font-family: var(--poppins);
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--dark-blue);
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

textarea:focus,
select:focus {
    border: 0 none;
}

.contact__form__submit {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.contact__form__button {
    font-size: 0.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--dark-blue);
    width: 6rem;
    margin: 0.5rem 0.5rem 1.5rem 0;
    padding: 0.75rem;
    background: var(--gradient);
    border: none;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.7rem;
}

.contact__form__button:hover {
    transform: scale(1.1);
    background: var(--dark-blue);
    color: white;
}

.footer {
    text-align: center;
    color: var(--dark-blue);
    font-size: 0.9rem;
}

/* ------------------------------ Responsive ---------------------------------------*/

@media screen and (min-width: 375px) and (max-width: 768px) {
    .header__container {
        display: block;
        width: 90%;
    }

    .logo {
        width: 8rem;
    }

    .menu__list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        text-align: right;
    }

    .menu__list__item a {
        padding: 0.2rem;
    }

    .menu__toggle {
        display: flex;
        justify-content: space-between;
    }

    .menu__list.active {
        display: flex;
        background-color: var(--light-blue);
        opacity: 80%;
    }

    .banner {
        justify-content: center;
        margin-bottom: 0;
    }

    .banner__title {
        font-size: 1rem;
    }

    .banner__subtitle {
        font-size: 0.7rem;
    }

    .banner__list {
        justify-content: center;
    }

    .banner__list__link {
        font-size: 0.5rem;
    }

    .banner__image {
        display: none;
    }

    .about {
        width: 80%;
    }

    .about__title {
        font-size: 1.5rem;
    }

    .about__text {
        font-size: 0.7rem;
    }


    .degree__item {
        width: 15vw;
    }

    .degree__item__image {
        width: 4rem;
        height: 3rem;
    }

    .degree__item__text {
        font-size: 0.5rem;
        text-align: center;
    }

    .projects__container {
        flex-direction: column;
        columns: 1;
        margin-left: 2em;
    }

    .projects__image {
        width: 80%;
    }

    .projects__container__content {
        margin-top: 0;
    }

    .projects__content__title {
        font-size: 1rem;
    }

    .projects__content__text {
        font-size: 0.7rem;
    }

    .projects__content__link {
        width: 4.5rem;
    }

    .contact {
        display: block;
    }

    .contact__content__image {
        margin-left: 6rem;
    }

    .contact__form {
        width: 90%;
        margin-left: 1rem;
    }

    .footer {
        font-size: 0.7rem;
    }
}